PORT=4010
API_PREFIX=api/v1
CORS_ORIGIN=http://localhost:8083,http://127.0.0.1:8083,http://localhost:19006,http://127.0.0.1:19006
SWAGGER_ENABLED=true
JWT_ACCESS_SECRET=change-me-access-secret
ASSET_SERVICE_BASE_URL=http://localhost:4001/api/v1
MONITORING_SERVICE_BASE_URL=http://localhost:4002/api/v1
INCIDENT_WORKFLOW_SERVICE_BASE_URL=http://localhost:4003/api/v1
