PORT=4001
MONGODB_URI=mongodb://localhost:27017/identity_db
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin1@example.com
ADMIN_PASSWORD=Admin1@123456
OPERATOR_USERNAME=operator01
OPERATOR_EMAIL=operator01@example.com
OPERATOR_PASSWORD=Operator@123456
TECHNICIAN_USERNAME=technician01
TECHNICIAN_EMAIL=technician01@example.com
TECHNICIAN_PASSWORD=Technician@123456
NODE_ENV=development
API_PREFIX=/api/v1
